@import url('https://db.onlinewebfonts.com/c/400195baf91730bd1e13a9719b003dea?family=FuturaLTPro-Book');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}


.font-dg {
  font-family: "FuturaLTPro-Book", sans-serif;
}